accelerate
aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
anyio
appdirs
argon2-cffi
argon2-cffi-bindings
arrow
asgiref
async-lru
attrs
babel
backoff
bcrypt
beautifulsoup4
bert-score
bleach
blinker
build
cachetools
certifi
cffi
charset-normalizer
chroma-hnswlib
chromadb
click
cohere
coloredlogs
contourpy
cycler
dataclasses-json
datasets
defusedxml
Deprecated
dill
distro
durationpy
einops
et-xmlfile
evaluate
fastapi
fastavro
fastjsonschema
filelock
flatbuffers
fonttools
fqdn
frozenlist
fsspec
gitdb
GitPython
google-auth
googleapis-common-protos
greenlet
grpcio
h11
httpcore
httptools
httpx
httpx-sse
huggingface-hub
humanfriendly
idna
importlib_metadata
importlib_resources
ipywidgets
isoduration
Jinja2
jiter
joblib
json5
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
kiwisolver
kubernetes
langchain
langchain-chroma
langchain-cohere
langchain-community
langchain-core
langchain-experimental
langchain-huggingface
langchain-ollama
langchain-openai
langchain-text-splitters
langsmith
markdown-it-py
MarkupSafe
marshmallow
matplotlib
mdurl
mistune
mmh3
monotonic
mpmath
multidict
multiprocess
mypy-extensions
narwhals
nbclient
nbconvert
nbformat
networkx
ninja
nltk
notebook
notebook_shim
numpy
oauthlib
ollama
onnxruntime
openai
openpyxl
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-fastapi
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
orjson
outcome
overrides
pandas
pandocfilters
parameterized
pillow
posthog
prometheus_client
propcache
protobuf
pyarrow
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic-settings
pydantic_core
pydeck
pyparsing
PyPika
pyproject_hooks
pyreadline3
pysbd
PySocks
python-dotenv
python-json-logger
pytz
PyYAML
ragas
rank-bm25
referencing
regex
requests
requests-oauthlib
requests-toolbelt
rfc3339-validator
rfc3986-validator
rich
rpds-py
rsa
safetensors
scikit-learn
scipy
seaborn
selenium
Send2Trash
sentence-transformers
setuptools
shellingham
smmap
sniffio
sortedcontainers
soupsieve
SQLAlchemy
starlette
streamlit
sympy
tabulate
tenacity
terminado
threadpoolctl
tiktoken
tinycss2
tokenizers
toml
torch
torchaudio
torchvision
tqdm
transformers
trio
trio-websocket
typer
types-python-dateutil
types-requests
typing-inspect
tzdata
uri-template
urllib3
uvicorn
watchdog
watchfiles
webcolors
webencodings
websocket-client
websockets
wheel
widgetsnbextension
wordcloud
wrapt
wsproto
xxhash
yarl
